@{
  Layout = "_Layout";
}

@using MTGDeck.Models;
@model IEnumerable<MTGDeck.Models.Card>
<style>
body {
  background-image: url('https://get.wallhere.com/photo/sky-clouds-fantasy-city-ArtStation-artwork-fantasy-art-1747289.jpg');
}
</style>

<div class="search-content container-fluid">
  <div class="row">
    <!-- <div class="col">
      @using(Html.BeginForm("GetCard", "Cards"))
      {
        @Html.Label("Get Card by Name")
        @Html.TextBox("name")
        <input type="submit" value="GetCard" class="btn btn-primary btn-sm"/>
      }
    </div> -->
    <div class="col-6">
      @using(Html.BeginForm("Search", "Cards"))
      {
        <div style="margin-bottom: 5px;" class="row">
          <div  class="col">
            @Html.Label("Search All by Name")
          </div>
          <div class="col">
            @Html.TextBox("name")
          </div>
        </div>
        <div style="margin-bottom: 5px;" class="row">
          <div class="col">
            @Html.Label("Search by Color")
          </div>
          <div class="col">
            @Html.DropDownList("color", new List<SelectListItem>
            {
              new SelectListItem { Text = "Black", Value = "B"},
              new SelectListItem { Text = "Blue", Value = "U"},
              new SelectListItem { Text = "Red", Value = "R"},
              new SelectListItem { Text = "White", Value = "W"},
              new SelectListItem { Text = "Green", Value = "G"},
              }, "Select Color", new { @style = "width:163px;" })
          </div>
        </div>
        <div style="margin-bottom: 5px;" class="row">
          <div class="col">
            @Html.Label("Search by Type")
          </div>
          <div class="col">
            @Html.TextBox("type")
          </div>
        </div>
          <input type="submit" value="Search" class="btn btn-primary btn-sm" style="margin-top: 5px; width: 25%"/>
      }
    </div>
  </div>
</div>
  <div class="row row-cols-2 row-cols-md-2 g-4" id="cardsDiv" class="d-flex justify-content-center">
    <!-- <div class="cardsBackground" style="height: 100vh"> </div> -->
    @foreach (Card card in Model)
    {
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/images/circle_full_set.svg" alt="Elemental magic orbs" style="height: 8rem;">
        <div class="card-body">
          <p class="card-text">@Html.ActionLink($"{card.Name}", "Details", new { name = card.Name })</p>
        </div>
      </div>
    }
  </div>







  