<!-- @{
  Layout = "_Layout";
}

@using MTGDeck.Models;
@model IEnumerable<MTGDeck.Models.Card>

<h1>Cards @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Card card in Model)
    {
      <li>@Html.ActionLink($"{card.Name}", "Details", new { name = card.Name })</li>
      <li>@Html.ActionLink($"{card.Color}", "Details", new { color = card.Color })</li>
      <li>@Html.ActionLink($"{card.Type}", "Details", new { type = card.Type })</li>
    }
  </ul>
} 
else
{
  <h3>No cards have been selected!</h3>
}

<p>@Html.ActionLink("Add new deck", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p> -->

<!-- @Html.LabelFor(model => model.Name)
var searchName = @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @style = "width:250px;" })

@Html.LabelFor(model => model.Color)
var searchColor = @Html.TextBoxFor(model => model.Color)

@Html.LabelFor(model => model.Type)
var searchType = @Html.TextBoxFor(model => model.Type) -->

