@{
  Layout = "_Layout";
}

@model MTGDeck.Models.Deck;
<div class="content">
<h3 class="page-title">@Html.DisplayFor(model => model.Name)</h3>
<p class="links">@Html.ActionLink("Rename", "Edit", new { id = Model.DeckId }) | @Html.ActionLink("Delete", "Delete", new { id = Model.DeckId })</p>
<hr />

@if(@Model.JoinEntities.Count == 0)
{
  @Html.ActionLink("+Add Card", "Index", "Cards", routeValues: null, htmlAttributes: new { @class="btn btn-success btn-sm" })
}
else
{
  <h5>Cards in this deck:</h5>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Card.Name}", "Details", "Cards", new { name = join.Card.Name}) | @Html.ActionLink("Delete", "DeleteCard", new { joinId = join.CardDeckId })</li>
  }
  </ul>
  <br>
  @Html.ActionLink("+Add Card", "Index", "Cards", routeValues: null, htmlAttributes: new { @class="btn btn-success btn-sm" })
}
</div>