@{
  Layout = "_Layout";
}

@model MTGDeck.Models.Deck;

<h3 class="page-title">@Html.DisplayFor(model => model.Name)</h3>
<p class="links">@Html.ActionLink("Rename", "Edit", new { id = Model.DeckId }) | @Html.ActionLink("Delete", "Delete", new { id = Model.DeckId })</p>

<div class="content">
@if(@Model.JoinEntities.Count == 0)
{
  <p>This deck is empty</p>
}
else
{
  <h5>Cards in this deck:</h5>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Card.Name</li>
  }
  </ul>
}
<br>
@Html.ActionLink("+Add Card", "Index", "Cards", routeValues: null, htmlAttributes: new { @class="btn btn-success btn-sm" })
</div>