@{
  Layout = "_Layout";
}

@model MTGDeck.Models.Deck

<h2>Edit</h2>

<h4>Edit this deck: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DeckId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to deck list", "Index")</p>